html, body {
    height: 100%;
}

body {
    font-family: monospace;
    color: black;
    margin: auto;
    max-width: 1024px;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

#page-title, #page-pages {
    text-align: center;
}

#page-pages {
    padding-bottom: 2em;
    text-transform: lowercase;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid;
    font-weight: bold;
}

.date-time-title time {
    color: grey;
}

#posts {
    display: flex;
    padding: 0.5em 0 0.5em 0;
}

#post-date {
    min-width: 25%;
}

.post-year {
    border-bottom: 1px solid;
    text-align: center;
}

.posts-whole-year {
    padding-bottom: 2em;
}

#content {
    padding: 0 1em 0 1em;
}

.blog-post {
    padding-left: 1em;
    padding-right: 1em;
}

.blog-post-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid;
}

h1, h2, h3, h4, #posts a {
    text-transform: lowercase;
}

.blog-post-header h1 {
    font-weight: normal;
    font-size: 12pt;
}

.blog-post-content h1, .blog-post-content h2, .blog-post-content h3, .blog-post-content h4 {
    font-weight: normal;
    font-size: 14pt;
    border-bottom: 2px dashed;
    margin: 1.5em 0 1em 0;
}

.blog-post-header h1 {
    font-size: 12pt;
    font-weight: normal;
}

.blog-post p, #posts {
    line-height: 1.5;
}

pre {
    padding: 0.5em;
    border-radius: 0.25em;
    overflow-x: scroll;
}

p > code {
    background-color: lightgrey;
    padding: 0 2px 0 2px;
    margin: 0 2px 0 2px;
    border-radius: 0.25em;
}

#content, .blog-post {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    border-top: 1px solid;
    line-height: 1.5em;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    /* Desktop only */
    footer div {
        flex-direction: row;
    }
    #post-date {
        min-width: 10%;
    }
}
