{{ partial "header.html" . }}

<section id=content>
    {{ range .Pages.GroupByDate "2006" }}
        <div class="posts-whole-year">
            <div class="post-year">
                {{ .Key }}
            </div>
            {{ range .Pages.ByPublishDate.Reverse }}
            <div id="posts">
                <div id="post-date" class="date-time-title">
                    <time>{{ .Date.Format (.Site.Params.dateform | default "jan 02") }}</time>
                </div>
                <div class="date-time-title post">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
            </div>
            {{ end }}
        </div>
    {{ end }}
</section>

{{ partial "footer.html" . }}
